Admin Control Panel

<br>
<br>
<%= button_to 'Create Event', new_event_path, method: :get %>
<br>
<br>

<table style="width: 70%;">
	<tr>
		<th>Event Name</th>
		<th>Date</th>
		<th>From</th>
		<th>To</th>
		<th>Passphrase</th>
	</tr>

	<% @events.each do |e| %>
		<tr>
			<td><%=link_to "#{e.name}", event_path(e) %></td>
			<td><%= e.date %></td>
			<td><%= e.start_time.strftime('%I:%M:%S %p') %></td>
			<td><%= e.end_time.strftime('%I:%M:%S %p') %></td>
			<td><strong><%= e.passphrase %></strong></td>
		</tr>
	<% end %>

</table>