<p><strong><%= @event.name %></strong></p>
<p><i><%= @event.description %></i></p><br>
<p>Date: <%= @event.date %></p>
<p>Start: <%= @event.start_time.strftime('%I:%M:%S %p') %></p>
<p>End: <%= @event.end_time.strftime('%I:%M:%S %p') %></p>
<br><br>



<br><h4>Projects under this event<i> (<%= @event.passphrase %>)</i></h4>
<% @event.projects.each do |p| %>
	<p><%= link_to "#{p.title}", event_project_path(@event,p) %></p>
<% end %>


<br>
<%= button_to 'Add Projects for this Event', new_event_project_path(@event), method: :get %>