<form class='form-group' method="post" action="/start_voting">
  <h1>Enter Passphrase to Start Voting</h1>
  <br>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input type="text" name="passphrase">
  <br>
  <br>
  <input type="submit" value="Submit">`
</form>
<br>
<br>
<br>
<br>
<br>
<% if signed_in? %>
  <%= current_user.email %>
  <%= button_to 'Control Panel', events_path, method: :get %>
  <%= button_to 'Sign out', sign_out_path, method: :delete %>
<% else %>
  <%= link_to 'Admin Sign In', sign_in_path %>
<% end %>